@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body{
	background-image: url(http://hdqwalls.com/wallpapers/minimalist-mountains-black-and-white-ap.jpg);
	background-size: cover;
} 

h1{
	font-size: 55px;
	color: #424949;
	text-align: center;
	font-family: 'Noto Serif', serif;
	margin-top: 40px;
	margin-bottom: 20px;
}

h4{
	font-family: 'PT Serif', serif;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	text-align: center;
	color:  #424949; 
	font-size: 18px; 
	line-height: 20px; 

}


.form-group{
	width: 40%;
	margin-left: 30%;
	color: #424949;
	font-family: 'PT-Serif', serif;
	font-size: 20px;
	margin-top: 20px;
}

.form-text{
	color: #424949;
	font-size: 15px;
	font-style: italic; 
}


#account{
	height: 500px;
}

#flex-display{
	display: flex;
}

#pass1{
	width: 250px;
	padding-right: 10px;
}

#pass2{
	width: 260px; 
	padding-left: 10px;
}

.space{
	margin-top: 15px;
}

#btn{
	color: white;
	border: 2px solid #424949; 
	padding: 1%;
	margin-left: 85%;
	background: #424949;
	border-radius: 5px;
}

#btn:hover{
	background-color: transparent; 
	color: #424949;
}


#btn2{
	color:  white; 
	border: 2px solid #424949; 
	padding: 1%;
	margin-left: 2%;
	border-radius: 5px;
	background:  #424949;
}


#btn2:hover{
	background-color: transparent; 
	color: #424949;
}


a:hover{
	text-decoration: none; 
}

#class{
	display: none;

}

.column{
	float: left;
	width: 33%;
	padding: 10px;
}

#text-before-form{
	margin-left: -50%;
	margin-right: -50%;
}



.btn-column{
	float: left;
	width: 50%;
	padding: 10px;
} 


.reg-btn{
	background: #424949;
	color: white;
	border: 2px solid #424949;
	border-radius: 5px;
	margin-left: 65%;
	padding: 1.1%;
}

.inline {
   display:inline-block;
   margin-top: 5%;
}

#login-mod{
	background: #424949;
	font-size: 20px;
	font-family:'PT-Serif', serif; 
	color: white;
	border: 2px #424949 solid;
	margin-left: 30%;
	margin-top: 5px;
	border-radius: 5px;
}

.check{
	font-size: 15px;
	font-family:'PT-Serif', serif; 
	color: #424949;
	margin-left: 30%;
	margin-top: 10px;
	font-style: italic;

}
